@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

body {
    font-family: 'Cantarell', sans-serif;
    // background-image: url(https://github.com/dorianpro/kali-linux-wallpapers/blob/master/kali-linux-wallpaper-v2.png?raw=true);
    // background: url(https://en.free-wallpapers.su/data/media/13/big/com0583.jpg);
    width: 100vw;
    height: 100vh;
    background: url(bg.webp);
    background-size: cover;
    background-position: center;
    font-size: 0.6rem;
    overflow: hidden;
}

.window {
    background: #111c;
    border: 1px solid #23252e;
    color: white;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 3px black;
    text-align: center;

    .header {
        padding: 5px;
        background: #23252e;
        text-align: center;
        border-radius: 5px 5px 0 0;
        user-select: none;

        img {
            height: 15px;
        }

        div {
            display: inline-block; 
            width: 70px;
            min-height: 1px;
        }

        .left { float: left; text-align: left; }
        .right { float: right; text-align: right; }

        button {
            border: 0;
            background: #383d4b;
            border-radius: 100%;
            width: 15px;
            height: 15px;
            line-height: 12px;
            margin-left: 5px;
            border: 1px solid black;
            color: transparent;
            font-size: .5rem;
            text-align: center;

            &.blue {
                background: #3c83fb;
                color: black;
            }

            &:hover {
                color: white;
            }
        }
    }

    iframe {
        border: 0;
    }

    .content {
        padding: 5px;
    }
}